{% extends 'base.html' %}
{% load static %}

{% block title %} Главная стриница{% endblock %}


<style>
</style>
{% block body %}
    <CENTER>
        <h1>Nimses</h1>
    </CENTER>
    <img align="right" border-color:
        src="{% static 'img/oi.jpeg' %}"
        alt=""
        width="800"
        height="800" />
    <p>Жизнь слишком коротка, чтобы притворятья кем-то другим</p>
    <p>Делись, люби, живи!</p>
    <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Недавние обновления:</h2>
    <ul> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li>Общайся с друзьями в чате</li>
        <li>Обменивайся любимыми локациями</li>
        <li>Исследуй вместе с нами</li>
       </ul>
{% endblock %}
