{% extends 'base.html' %}
{% load static %}

{% block title %} Главная {% endblock %}


<style>
</style>
{% block body %}
    <div class="topnav">
        <a class="active" href="{% url 'main-page' %}">Home</a>
        <a href="{% url 'News' %}">News</a>
        <a href="{% url 'contact' %}">Contact</a>
        <a href="{% url 'about' %}">About</a>

        <right>
            <a href="{% url 'signup' %}" class="gradient-button">Sign up</a>
        </right>
        
      </div>
      
    
    <CENTER>
        <h1>Nimses</h1>
    </CENTER>
    <img align="right" border-color:
        src="{% static 'img/oi.jpeg' %}"
        alt=""
        width="800"
        height="800" />
    <p>Жизнь слишком коротка, чтобы притворятья кем-то другим</p>
    <p>Делись, люби, живи!</p>
    <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Недавние обновления:</h2>
    <ul> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li>Общайся с друзьями в чате</li>
        <li>Обменивайся любимыми локациями</li>
        <li>Исследуй вместе с нами</li>
       </ul>
{% endblock %}
